//COLORS
$textColor1: #fff;
$textColor2: #222626;
$textColor3:#a4a4a7;
$textColor4: #b1b1b1;
$textColor5: #57697f;

$bgColorbody: #f6f7fa;
$bgColor1: #82ca9c;
$bgColor2: #f5989d;
$bgColor3: #615f7d;
$bgColor4: #bd8cbf;
$bgColor5: #f6f7fa;
$bgColor6: #192431;
$bgColor7: #e1e1e1;
$bgColor8: #c5c5c5;
