@import "partials/params";
@import "partials/mixins";

#mainFooter{
    background: $bgColor6;
    color: $textColor1;
    width: 100%;
    padding-top: 150px;
    padding-bottom: 150px;
    .container{
        @include containerWidth;
        .row{
            h3, h4{
                font-size: 13px;
                margin-bottom: 20px;
            }
            p{
                font-size: 13px;
            }
            .includText{
                margin-top: 70px;
            }
            .sendMail{

                .inputMail{
                    input{
                        float: left;
                    }
                    input[type="text"]{
                        width: 400px;
                        height: 50px;
                        box-sizing: border-box;
                        padding: 10px;
                        border: 0;
                        border-top-left-radius: 5px;
                        border-bottom-left-radius: 5px;
                    }
                    input[type="submit"]{
                        color: $textColor1;
                        text-align: center;
                        width: 70px;
                        height: 50px;
                        background: $bgColor1 url("../img/check.png") no-repeat center center;
                        border: 0;
                        border-top-right-radius: 5px;
                        border-bottom-right-radius: 5px;
                    }
                }
                p{
                    max-width: 400px;
                    margin-top: 20px;
                    float: left;
                    font-size: 12px;
                    color: $textColor5;
                }
            }
        }
    }
    @include W768{
        input[type="text"]{
            width: 200px !important;
        }
    }
    @include W480{
        input[type="text"]{
            width: 100px !important;
        }
    }
}
