@import "partials/params";
@import "partials/mixins";

#mashead {
    background: url("../img/bgMasthead.jpg") no-repeat center left;
    background-size: cover;
    height: 120vh;
    color: $textColor1;

    .container {
        @include containerWidth;

        .logo {
            padding-top: 5%;
        }

        .row {
            height: 60vh;

            h1 {
                font-weight: lighter;
                font-size: 60px;
            }

            p {
                font-size: 13px;
                max-width: 420px;
            }
        }
    }
    @include W480 {
        .container {
            .row {
                h1 {
                    font-size: 38px;
                }

                p {
                    max-width: 420px;
                }
            }
        }
    }
}
